@media screen and (max-width: 360px) {
    html {
        width: 100%;
        color: $main-text-color;
    }

    body {
    }

    .header {
        height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--logo {
            height: 24px;
            padding-left: 5%;
        }
    }

    //////////////////////////
    .menu {
        display: none;
    }
    .hamburger {
        width: 100%;
        height: 44px;
    }

    .hamburger nav {
        width: 100%;
        height: 224px;
    }

    .hamburger ul {
        list-style: none;
    }

    .hamburger a {
        color: white;
        background-color: #0000ec;
        font-family: $font-family-mono;
        font-size: $font-size-green-button;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        height: 28px;
    }

    .hamburger input[type="checkbox"],
    .hamburger .fa-bars,
    .hamburger .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 5%;
        top: 15px;
        width: 18px;
    }

    .hamburger .fa-bars,
    .hamburger .fa-times {
        font-size: 18px;
        pointer-events: none;
    }

    .hamburger input[type="checkbox"] {
        opacity: 0;
    }

    .hamburger {
        color: black;
        position: relative;
        min-height: 48px;
    }

    .hamburger nav {
        display: none;
    }

    .hamburger input:checked ~ nav {
        display: block;
        margin-top: 44px;
    }

    .hamburger input:checked ~ .fa-bars {
        display: none;
    }

    .hamburger input:not(:checked) ~ .fa-times {
        display: none;
    }
    //////////////////////////
    .hellobox {
        padding-left: $padding-left-text;
        font-family: $font-family-sans;
        font-size: $font-size-title;
        margin-top: 25px;
        margin-bottom: 10px;

        &--world {
            text-decoration: line-through;
        }
        &--pale-desk {
            display: none;
        }
    }
    .textpodcast {
        padding-left: $padding-left-text;
        font-family: $font-family-mono;
        font-size: $font-size-mono;
        width: 288px;
        margin-bottom: 30px;
        &--desk {
            display: none;
        }
    }
    .conocebox {
        display: flex;
        justify-content: center;
        margin-left: $padding-left-text;
        margin-right: $padding-left-text;
        margin-bottom: 30px;
        background-color: $button-color;
        height: 48px;
        &--text {
            align-self: center;
        }
    }
    .episodes {
        width: 100%;
        height: 900px;
        background-image: linear-gradient(#0000ff, #0000a3);
        transform: skewY(-5deg);

        &--text {
            transform: skewY(5deg);
            font-family: $font-family-sans;
            font-size: $font-size-title;
            font-weight: 300;
            color: white;
            padding-left: $padding-left-text;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        &--set {
            transform: skewY(5deg);
            display: flex;
            flex-direction: column;
            justify-content: start;
            &-episode {
                padding-left: 5%;
                padding-right: 5%;
                width: 90%;
                border: 0;
            }
        }
    }
    .nosotros {
        &--phone {
            &--img {
                width: 100%;
                transform: translateX(5px);
                transform: translateY(-80px);
            }
        }
        &--dedonde {
            transform: translateY(-80px);
            &-title {
                font-family: $font-family-sans;
                font-size: $font-size-title;
                font-weight: 500;
                padding-left: $padding-left-text;
                padding-right: 100px;
            }
            &-text {
                padding-left: $padding-left-text;
                font-family: $font-family-mono;
                font-size: $font-size-mono;
                width: 288px;
                margin-bottom: 30px;
            }
        }
    }
    .guests {
        transform: translateY(-80px);
        &--title {
            font-family: $font-family-sans;
            font-size: $font-size-title;
            font-weight: 500;
            padding-left: $padding-left-text;
            padding-right: 100px;
        }
        &--set {
            width: 100%;
            display: flex;
            flex-direction: column;
            &-pic {
                width: 100%;
            }
        }
    }
    .somethemes {
        transform: translateY(-80px);
        &--title {
            font-family: $font-family-sans;
            font-size: $font-size-title;
            font-weight: 500;
            padding-top: 30px;
            padding-left: $padding-left-text;
            padding-right: 100px;
            width: 288px;
        }
        &--boxes {
            display: flex;
            flex-direction: column;
            justify-content: start;
            &-box {
                display: flex;
                flex-direction: column;
                align-content: center;
                padding-top: 30px;
                &-img {
                    width: 104px;
                    align-self: center;
                }
                &-subtitle {
                    text-align: center;
                    color: $main-text-color;
                    font-family: $font-family-sans;
                    font-size: $font-size-theme-title;
                    font-weight: 600;
                }
            }
        }
    }
    .lastnews {
        width: 100%;
        height: 320px;
        background-image: linear-gradient(#0000ff, #0000a3);
        transform: skewY(-5deg);
        &--title {
            transform: skewY(5deg);
            font-family: $font-family-sans;
            font-size: $font-size-title;
            font-weight: 300;
            color: white;
            padding-left: $padding-left-text;
            padding-top: 40px;
            padding-bottom: 20px;
            text-align: center;
        }
        &--box {
            transform: skewY(5deg);
            display: flex;
            justify-content: center;
            margin-left: $padding-left-text;
            margin-right: $padding-left-text;
            margin-bottom: 30px;
            background-color: $button-color;
            height: 48px;
            &-text {
                align-self: center;
            }
        }
    }
    .rights {
        width: 100%;
        height: 44px;
        background-color: white;
        transform: translateY(-15px);
        &--text {
            padding-top: 22px;
            text-align: center;
            font-family: $font-family-mono;
            font-size: $font-size-mono;
        }
    }
    .social {
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: center;
        &--icons {
            width: 227px;
            display: flex;
            justify-content: space-between;
        }
    }
}
