$font-size-title: 36px;
$font-size-mono: 14px;
$font-size-green-button: 16px;
$font-size-theme-title: 24px;

$font-family-sans: "IBM Plex Sans", sans-serif;
$font-family-serif: "IBM Plex Serif", serif;
$font-family-mono: "IBM Plex Mono", monospace;

$main-text-color: #060a24;
$button-color: #00f3bb;

$padding-left-text: 16px;
$padding-left-text-desk: 200px;
